*{
  margin: 0;
  padding:0;
}

:root {
  /* https://coolors.co/256aef-ffffff-e5effb-111827-1f2937
  we used coolors to get our colors */
  --main-color: #1f80ff;
  --second-color: #e5effb;
  --background-color: #FFFFFF;
  --footer-color: #1F2937;
  --font-color: #5c5e61;
  --darkMode-button: rgba(0, 0, 0, 0.158);
  --lightFont-color: #FFFFFF;
  --black-text:black;
  --box-color: #e5effb;
  --small-margin: 1rem;
  --logo-shadow: inset -10px -10px 30px rgba(255, 255, 255, 0.027),
        inset 10px 10px 30px rgba(85, 85, 85, 0.233),
        0 0 40px rgba(0, 0, 0, 0.4);
}
 /*Darkmode Colors*/
body.dark {
    --main-color: #144688;
    --second-color: #131920;
    --background-color: #1F2937;
    --footer-color: #1F2937;
    --font-color: #e5effb;
    --darkMode-button: #ffffff33;
    --lightFont-color: #e5effb;
    --black-text:#e5effb;
    --box-color: #6e839c;
    --logo-shadow: inset -10px -10px 30px rgba(53, 51, 51, 0.755),
            inset 10px 10px 30px rgba(0, 0, 0, 0.715),
            0 0 40px rgba(255, 255, 255, 0.105);;
  }


body{
  overflow-x: hidden;
}

p {
    color: var(--font-color);
  }

/*These are the styles for the nav*/
nav {
  width: 100%;
  height: 55px;
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  color: var(--main-color);
  padding: 0.3rem;
  position: sticky;
  top: 0;
  z-index: 1000; 
    
}

.nav-logo {
  font-weight: bold;
  font-size: 2rem;
  margin-left: 3rem;
}

.nav-buttons {
  margin-left: auto;
  display: flex;
  margin-right: 15vw; 
}

.home-Btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 1rem 1.5rem;
  font-size: 1rem;
  color: inherit;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
  transition: all 0.2s ease;
  align-self: center;
}

.home-Btn:hover {
  background-color: #ff9500;
  color: var(--background-color);
}

.airlines-Btn {
  background-color: var(--main-color);
  border: none;
  border-radius: 10px;
  color: var(--lightFont-color);
  cursor: pointer;
  padding: 1rem 1rem;
  font-size: 1rem;
  text-decoration: none;
  display: inline-block;
  transition: all 0.2s ease;
}

.airlines-Btn:hover {
  background-color: var(--secondary-color);
}


.home-Btn:active,
.airlines-Btn:active {
  transform: scale(0.95);
}

/*Dark mode button*/
  button {
    background-color: var(--darkMode-button);
    color: var(--black-text);
    border: none;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    font-size: 2rem;
    margin-right: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #dark-mode-logo{
    font-size: 20px;
  }

/*These are the styles for the light-blue section with the big logo*/

main {
  background-color: var(--second-color);
  display: flex;
  align-items: center;
}

.title {
  width: 50%;
  padding: 2rem;
  margin: 4rem 4rem 4rem 4rem;
}

.title h1{
    font-size: 3.5rem;
    margin: var(--small-margin);
}

.title h1:nth-of-type(1) {
    color: var(--black-text);
}

.title h1:nth-of-type(2) {
    color: var(--main-color);
}


.title h2{
    font-size: 2rem;
    margin: var(--small-margin);
    color: var(--black-text);
}

.title a{
    margin: var(--small-margin);
}


.big-logo {
  width: 50%;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 2rem;
}

.plane-bg {
  background-color: var(--lightFont-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 300px;
  width: 300px;
  position: relative;
  box-shadow: var(--logo-shadow)


    
}

#plane {
  font-size: 7rem;
  color: var(--main-color);
  transform: rotate(-45deg);
  position: relative;


}

#plane:hover{
    transform: rotate(-45deg) scale(1.1);
}

.fly {
    animation: fly 3s ease-out;
  }

/*animation plane flying*/

@keyframes fly {
    0% {
      transform: translate(0%, 0%) scale(1) rotate(-45deg);
      z-index: 3;
    }
  
    40% {
      transform: translate(120%, -100%) scale(0.4) rotate(-45deg); 
      z-index: 3;
    }
  
    43% {
        transform: translate(100%, -100%) scale(0.2) rotate(135deg); 
        z-index: 1;
        
    }
    45% {
        transform: translate(100%, -100%) scale(0.2) rotate(135deg); 
        z-index: -1;
        
    }
    50% {
        transform: translate(-75%, 100%) scale(0.2) rotate(135deg);
        z-index: -1;
    }
    65% {
        transform: translate(-100%, 150%) scale(0.2) rotate(135deg);
        z-index: 1;
    }
    71% {
        transform: translate(-100%, 150%) scale(0.4) rotate(-45deg); 
        z-index: 1;
    }
    
    100% {
      transform: translate(0%, 0%) scale(1) rotate(-45deg); 
      z-index: 3;
    }
  }
  



/*styles for second section of first page*/
.boxes-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color);
}

.boxes-title{
    justify-items: center;
    margin-top: 2rem;
    color: var(--black-text);
}

.boxes-title h2{
    font-size: 2rem;
    padding: 1rem;
}

.boxes-title p{
    font-size: 1.5rem;
}

.boxes {
  display: flex;
  flex-direction: row;
  padding: 3rem;
  color: var(--black-text);
}

.box {
  background-color: var(--second-color);
  border-radius: 10px;
  justify-items: center;
  padding: 1rem;
  margin: var(--small-margin);
  padding: 2rem;
}

.box div {
  background-color: var(--main-color);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: var(--small-margin);
}

#box-plane, #box-globe, #box-family{
    color: var(--background-color);
}

.box h2{
    margin: var(--small-margin);
}

/*this is the section before the footer*/
.divider {
  background-color: var(--main-color);
  color: var(--lightFont-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
}

.divider p {
  color: var(--lightFont-color);
}

.divider a {
  background-color: var(--background-color);
  border: none;
  cursor: pointer;
  padding: 1rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 10px;
  text-decoration: none;
  font-family: inherit;
  font-weight: bold;
  color: var(--footer-color);
  display: inline-block;
  text-align: center;
}
.divider a:active{
  transform: scale(0.95);
}

.divider h1, p, a{
    margin: var(--small-margin);
}

.divider h1{
    font-size: 2rem;
}

.divider p{
    font-size: 1.5rem;
}

.divider a{
    color: var(--black-text);
}

/*Styles for footer*/
footer {
    background-color: var(--footer-color);
    color: var(--background-color);
    padding: 1.5rem 2rem;
    font-size: 0.95rem;
  }
  
  .footer-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 1rem;
  }
  
  .footer-left h2 {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.2rem;
    margin: 0;
  }
  
  .footer-left p {
    margin: 0.3rem 0 0;
  }
  
  .footer-right {
    display: flex;
    gap: 1.5rem;
  }
  
  .footer-right a {
    color: var(--lightFont-color);
  }

  
  .footer-right a:hover {
    text-decoration: underline;
  }
  
  footer hr {
    border: 0;
    border-top: 1px solid var(--font-color);
    margin: 1rem 0;
  }
  
  .footer-bottom {
    text-align: center;
    font-size: 0.85rem;
    opacity: 0.7;
  }
  
  .back-to-top {
    position: relative;
    left: 90%;
    bottom: 1rem;
    color: var(--second-color);
    font-size: 2rem;
  }

  
  .back-to-top:hover {
    color: var(--lightFont-color);
  }
  


/* Banner styles */
#banner{
  background-color: var(--main-color);
  position: relative;
  padding: 1rem 0;
  width: 100%;
}
.banner-content {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

#banner h1{
  color: var(--lightFont-color);
  font-size: 2.5rem;
  margin-bottom: 12px;
  font-weight: bold;
}

#banner h3{
  color: var(--lightFont-color);
  font-size: 1.1rem;
  line-height: 1.5;
  max-width: 600px;
}


/* GRID STYLES START */
#Compare-section {
  display: none;
}

#airline-grid {
  display: flex;
  justify-content: center;
  background-color: var(--background-color);
}

#flights-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.75rem;
  width: 85%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* gridDiv */
.airline-grid-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 200px;
  background-color: var(--box-color);
  border-radius: 10%;
  padding: 5px;
}

.airline-grid-item:hover{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

}


/* gridDivImgContainer */
.image-container {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%
}

.airline-grid-item img {
  width: auto;
  height: 100%;
  max-width: 100%;
  object-fit: contain;
}

/* gridDivHeader */
.grid-header {
  font-weight: 700;
  font-size: larger;
  padding: 0.2rem;
  margin-bottom: 10px;;
}

/* gridDivSubtitle & gridDivPtag 
 .grid-text {
} */



.selected {
  outline: 3px solid blue;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

.shake {
  animation: shake 0.3s; /* how long the shake lasts */
}

/* GRID STYLES END  */

/* TABLE STYLES BEGIN */
#compare-section {
  margin-top: 20px;
  width: 90%;
}

.compare-container{
  display: grid;
  place-items: center;
  display: none;
  background-color: var(--second-color);
  color: var(--black-text);
  padding: 1rem;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table th, .table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.logo {
  width: 50px;
  height: auto;
}

/* TABLE STYLES END */





/* Responsive design*/

@media (width<800px){
    main {
        flex-direction: column;
      }
      #flights-grid {
        grid-template-columns: repeat(2, 1fr);
      }
      .home-Btn {
        padding: 0.5rem;
      }
      
      .airlines-Btn {
        padding: 0.5rem;
      }
}