*{
  margin: 0;
  padding:0;
}

:root {
  --main-color: #1f80ff;
  --secondary-color: #2252cd;
  --third-color: #e3eeff;
  --light-gray: #717171;
  --background-color: #ffff;
  --footer-color: #1c2c34;
  --fount-color: black;
}

/*These are the styles for the nav*/
nav {
  width: 100%;
  height: 45px;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  color: var(--main-color);
  padding: 0.3rem;
}

.nav-logo {
  font-weight: bold;
  font-size: 2rem;
}

.nav-buttons {
  margin-left: auto;
  display: flex;
  margin-right: 15vw;
}

.home-Btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 1rem 1.5rem;
  font-size: 1rem;
  color: inherit;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
  transition: all 0.2s ease;
}

.home-Btn:hover {
  background-color: #ff9500;
}

.airlines-Btn {
  background-color: var(--main-color);
  border: none;
  border-radius: 10px;
  color: var(--background-color);
  cursor: pointer;
  padding: 1rem 1rem;
  font-size: 1rem;
  text-decoration: none;
  display: inline-block;
  transition: all 0.2s ease;
}

.airlines-Btn:hover {
  background-color: var(--secondary-color);
}


.home-Btn:active,
.airlines-Btn:active {
  transform: scale(0.95);
}

/*These are the styles for the light-blue section with the big logo*/

main {
  background-color: var(--third-color);
  display: flex;
}

.title {
  width: 50%;
  padding: 2rem;
}

p {
  color: var(--light-gray);
}

.big-logo {
  width: 50%;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 2rem;
}

.plane-bg {
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 300px;
  width: 300px;
}

#plane {
  font-size: 7rem;
  color: var(--main-color);
  transform: rotate(-45deg);
}

/**/
.boxes-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boxes {
  display: flex;
  flex-direction: row;
  padding: 3rem;
}

.box {
  background-color: var(--third-color);
  border-radius: 10px;
  justify-items: center;
  padding: 1rem;
  margin: 1rem;
}

.box div {
  background-color: var(--main-color);
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

/*this is the section before the footer*/
.divider {
  background-color: var(--main-color);
  color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.divider p {
  color: var(--background-color);
}

.divider a {
  background-color: var(--background-color);
  border: none;
  cursor: pointer;
  padding: 1rem 1.5rem;
  font-size: 1rem;
  border-radius: 10px;
  text-decoration: none;
  font-family: inherit;
  font-weight: bold;
  color: var(--footer-color);
  display: inline-block;
  text-align: center;
}
.divider a:active{
  transform: scale(0.95);
}


/*Styles for footer*/
footer {
  background-color: var(--footer-color);
  color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

footer p {
  color: var(--background-color);
}




/* Banner styles */
#banner{
  background-color: var(--main-color);
  position: relative;
  padding: 1rem 0;
  width: 100%;
}
.banner-content {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

#banner h1{
  color: var(--background-color);
  font-size: 2.5rem;
  margin-bottom: 12px;
  font-weight: bold;
}

#banner h3{
  color: var(--background-color);
  font-size: 1.1rem;
  line-height: 1.5;
  max-width: 600px;
}


/* GRID STYLES START */
#Compare-section {
  display: none;
}

#airline-grid {
  display: flex;
  justify-content: center;
}

#flights-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.75rem;
  width: 85%;
}

/* gridDiv */
.airline-grid-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 200px;
  background-color: var(--third-color);
  border-radius: 10%;
  padding: 5px;
}

.airline-grid-item:hover{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

}


/* gridDivImgContainer */
.image-container {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%
}

.airline-grid-item img {
  width: auto;
  height: 100%;
  max-width: 100%;
  object-fit: contain;
}

/* gridDivHeader */
.grid-header {
  font-weight: 700;
  font-size: larger;
  padding: 0.2rem;
  margin-bottom: 10px;;
}

/* gridDivSubtitle & gridDivPtag 
 .grid-text {
} */


/* GRID STYLES END */

.selected {
  outline: 3px solid blue;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

.shake {
  animation: shake 0.3s; /* how long the shake lasts */
}